*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

@mixin flex ($justify) {
  display: flex;
  justify-content: $justify;
}

body {
  @include flex(center);
  flex-direction: column;
  align-items: center;
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
  font-size: 18px;
  background: {
    image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    repeat: no-repeat, no-repeat;
    position: right 48vw bottom 40vh, left 45vw top 44vh;
  }
}

img,
svg {
  display: block;
  max-width: 100%;
}

@mixin circle ($value) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
}

.card {
  max-width: 350px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  @include circle(1rem);
}

.person {
  @include flex(center);
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.person{
  img {
    border: 4px solid #fff;
    @include circle(50%);
  }
} 

h1 {
  display: inline-block;
  padding-right: 0.5rem;
  font: {
    size: 1.2rem;
    weight: 700;
  }
  margin-bottom: 0.5rem;
}

h1 {
  + span {
    color: hsl(0, 0%, 59%);
    font: {
      size: 1.2rem;
      weight: 400;
    }
  }
}

.card {
  > p {
    color: hsl(227, 10%, 46%);
    margin-bottom: 2.5rem;
    font-size: 1rem;
  }
}

.info {
  @include flex(space-evenly);
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  text-align: center;
}

.number {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.details {
  font-size: 0.8rem;
  color: hsl(227, 10%, 46%);
}

footer {
  margin-top: 2rem;
}



